@use "sass:map";

$sizes: (
    "story": (
        "rows": 8,
        "cols": 18,
    ),
    "nether": (
        "rows": 19,
        "cols": 12,
    ),
    "end": (
        "rows": 8,
        "cols": 10,
    ),
    "adventure": (
        "rows": 29,
        "cols": 8,
    ),
    "husbandry": (
        "rows": 17,
        "cols": 10,
    ),
);

.MCAdvView {
    width: fit-content;
    height: fit-content;
    background-size: calc(var(--pixel-size) * 16);
    padding: calc(var(--pixel-size) * 2);
    text-align: center;

    & > div {
        display: grid;
        gap: calc(var(--pixel-size) * 2);
    }

    // goes through the map and builds the grid-areas and background-images
    @each $category, $size in $sizes {
        &.#{$category} > div {
            grid-template-rows: repeat(map.get($size, "rows"), calc(var(--pixel-size) * 12));
            grid-template-columns: repeat(map.get($size, "cols"), calc(var(--pixel-size) * 12));
        }
    }

    // line styling
    & .lines > svg {
        // fix the excess space on the bottom
        display: block;
        pointer-events: none;

        line,
        polyline {
            stroke-linecap: square;
            stroke-linejoin: miter;
            fill: none;

            &#black {
                stroke: black;
                stroke-width: calc(var(--pixel-size) * 3);
            }

            &#white {
                stroke: white;
                stroke-width: calc(var(--pixel-size) * 1);
            }
        }
    }
}
