$missingTexture: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAIAAAD91JpzAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAPSURBVBhXYwCCH1DIwAAAGy4D4eM1X7AAAAAASUVORK5CYII=";

.MCItem {
    width: 100%;
    height: 100%;

    & > div {
        height: 100%;
        width: 100%;

        background-repeat: no-repeat;
        background-size: 100%;
    }

    & > .MCItemMissing {
        background-image: url($missingTexture);
    }
}
